# Add the upload keystore and key passwords here (required for production builds)
ekirjasto.storePassword=
ekirjasto.keyPassword=
ekirjasto.keyalias=key0

# Change "test" below with the liblcp AAR secret path
ekirjasto.liblcp.repositorylayout=/[organisation]/[module]/android/aar/test/[revision].[ext]

# Set test login username and PIN code here (for Google Play review)
ekirjasto.testLogin.enabled=true
ekirjasto.testLogin.username=
ekirjasto.testLogin.pinCode=

# Add the Transifex token here (required for release builds)
transifex.token=
# Optionally, add the Transifex secret here (only used by transifex.sh)
transifex.secret=

