name: android-release

#
# This workflow is run for all commits in release/* branches.
#

on:
  push:
    branches: [ release/* ]

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  TARGET_BRANCH_NAME: ${{ github.base_ref || github.ref_name }}
  # Join all secrets, so that they're "used", and will be masked in logs
  MASKED_SECRETS: ${{ join(secrets, '\n') }}

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Show build info
        env:
          TEST_SECRET: ${{ secrets.MASK_TEST }}
        run: scripts/show-ci-info.sh

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Reveal secrets
        env:
          EKIRJASTO_LOCAL_PROPERTIES_BASE64: ${{ secrets.LOCAL_PROPERTIES }}
          EKIRJASTO_RELEASE_JKS_BASE64: ${{ secrets.RELEASE_JKS }}
        run: scripts/reveal-secrets.sh --overwrite

      - name: Upload and download Transifex localizations
        run: scripts/transifex.sh --append-tags=release

      - name: Debug build
        run: scripts/build.sh debug
      - name: Release build
        run: scripts/build.sh release

      - name: Run tests
        if: ${{ !cancelled() }}
        run: scripts/run-tests.sh
      - name: Upload test report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: junit-test-report
          path: ./simplified-tests/build/reports/tests/testDebugUnitTest/

      - name: Run release checks
        run: scripts/release-checks.sh

      - name: Upload production build to the Google Play Console closed-beta track
        env:
          EKIRJASTO_FASTLANE_SERVICE_ACCOUNT_JSON: ${{ secrets.FASTLANE_SERVICE_ACCOUNT_JSON }}
        run: scripts/fastlane.sh deploy_closed_beta flavor:production
      - name: Upload beta build to the Google Play Console alpha track
        env:
          EKIRJASTO_FASTLANE_SERVICE_ACCOUNT_JSON: ${{ secrets.FASTLANE_SERVICE_ACCOUNT_JSON }}
        run: scripts/fastlane.sh deploy_alpha flavor:beta
      - name: Upload dev build to the Google Play Console internal track
        env:
          EKIRJASTO_FASTLANE_SERVICE_ACCOUNT_JSON: ${{ secrets.FASTLANE_SERVICE_ACCOUNT_JSON }}
        run: scripts/fastlane.sh deploy_internal flavor:dev
